Repository openstack/designate: changes, and which Zuul jobs are due for each by the changed paths.
All: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

designate-base:
  parent: devstack-tempest
  post-run: playbooks/designate-base/post.yaml
  vars:
    devstack_localrc:
      DESIGNATE_SERVICE_PORT_DNS: 5322
      TEMPEST_PLUGINS: /opt/stack/designate-tempest-plugin
    devstack_plugins:
      designate: https://opendev.org/openstack/designate
    devstack_services:
  ...

designate-bind9:
  parent: designate-base

designate-bind9-manager-model:
  parent: designate-bind9
  vars:
    devstack_services:
      designate-worker: false
      designate-producer: false
      designate-pool-manager: true
      designate-zone-manager: true

designate-bind9-py35:
  parent: designate-bind9
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    devstack_services:
      s-account: false
      s-container: false
      s-object: false
      s-proxy: false
      c-bak: false

designate-bind9-py36:
  parent: designate-bind9-py35
  nodeset: openstack-single-node-bionic

designate-devstack-base:
  parent: legacy-dsvm-base
  vars:
    database: mysql
    python_version: py27
    identity_v3_only: 0
    manager_model: 0
    backend: pdns4
  required-projects:
  - openstack/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  ...

designate-devstack-agent-base:
  parent: legacy-dsvm-base
  required-projects:
  - openstack/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  - openstack/python-designateclient
  - openstack/tempest
  run: playbooks/legacy/designate-devstack-agent-base/run.yaml
  ...

designate-grenade-pdns4:
  parent: legacy-dsvm-base
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  - openstack/python-designateclient
  run: playbooks/legacy/grenade-devstack-designate-pdns4/run.yaml
  ...

designate-devstack-agent-djbdns:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: djbdns

designate-devstack-agent-gdnsd:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: gdnsd

designate-devstack-agent-knot2:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: knot2

designate-devstack-pdns4:
  parent: designate-devstack-base
  vars:
    backend: pdns4

designate-devstack-pdns4-postgres:
  parent: designate-devstack-base
  vars:
    backend: pdns4
    database: postgres

Stop setting version specific basepython binaries
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
  tox.ini
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Adding distributed locking to central
  designate/central/service.py
  designate/coordination.py
  designate/tests/test_central/test_decorator.py
  devstack/plugin.sh
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Community Goal: Project PTL & Contrib Docs Update
  CONTRIBUTING.rst
  doc/source/contributor/getting-involved.rst
Due: none

Fix slow zone imports.
  designate/central/service.py
  designate/storage/__init__.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Simplify Coordination implementation
  designate/central/service.py
  designate/coordination.py
  designate/producer/service.py
  designate/tests/test_coordination.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update .gitreview for stable/ussuri
  .gitreview
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Monkey patch original current_thread _active
  designate/cmd/__init__.py
  designate/cmd/manage.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix designate-sink shutdown issue
  designate/sink/service.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Switch to dnspython package
  lower-constraints.txt
  requirements.txt
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Pin stable/queens tempest tests to 0.7.0 tag
  .zuul.yaml
  devstack/upgrade/settings
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Pin stable/rocky tempest tests to 0.7.0 tag
  .zuul.yaml
  devstack/upgrade/settings
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Worker should send NOTIFY also to all servers in 'also_notifies' pool settings.
  designate/tests/test_workers/test_service.py
  designate/worker/service.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix issues with newer flake8
  designate/__init__.py
  designate/tests/unit/test_central/test_basic.py
  devstack/networking_test.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update contributor docs
  doc/source/contributor/devstack.rst
  doc/source/contributor/getting-involved.rst
Due: none

Adding the option to set the zone quota to unlimited
  designate/quota/base.py
  designate/tests/test_quota/test_quota.py
  doc/source/user/rest/admin/quotas.rst
  releasenotes/notes/zones_unlimited_quota-81a2dfba1f532c9c.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Add py38 package metadata
  setup.cfg
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Switch to uwsgi as default for devstack
  devstack/settings
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix some spelling
  doc/source/admin/backends/infoblox.rst
  doc/source/admin/pools.rst
Due: none

Add examples using the OpenStack CLI
  doc/source/admin/tlds.rst
Due: none

pdns4 backend: check if zone exists before attempting delete
  designate/backend/impl_pdns4.py
  designate/tests/unit/backend/test_pdns4.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Add CLI examples to user section
  doc/source/user/manage-ptr-records.rst
Due: none

Stop to use the __future__ module.
  designate/tests/fixtures.py
  tools/install_venv_common.py
  tools/pretty_flake8.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Use unittest.mock instead of mock
  designate/tests/test_quota/test_quota.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix uwsgi path
  devstack/plugin.sh
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py35, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Path conditions:
  designate-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9-manager-model: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-devstack-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-grenade-pdns4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-djbdns: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-gdnsd: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-knot2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-pdns4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-pdns4-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
