Repository openstack/designate: changes, and which Zuul jobs are due for each by the changed paths.
All: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

designate-base:
  parent: devstack-tempest
  post-run: playbooks/designate-base/post.yaml
  vars:
    devstack_localrc:
      DESIGNATE_SERVICE_PORT_DNS: 5322
      TEMPEST_PLUGINS: /opt/stack/designate-tempest-plugin
    devstack_plugins:
      designate: git://git.openstack.org/openstack/designate
    devstack_services:
  ...

designate-bind9:
  parent: designate-base

designate-bind9-manager-model:
  parent: designate-bind9
  vars:
    devstack_services:
      designate-worker: false
      designate-producer: false
      designate-pool-manager: true
      designate-zone-manager: true

designate-bind9-py36:
  parent: designate-bind9
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    devstack_services:
      s-account: false
      s-container: false
      s-object: false
      s-proxy: false
      c-bak: false

designate-devstack-base:
  parent: legacy-dsvm-base
  vars:
    database: mysql
    python_version: py27
    identity_v3_only: 0
    manager_model: 0
    backend: pdns4
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  ...

designate-devstack-agent-base:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  - openstack/python-designateclient
  - openstack/tempest
  run: playbooks/legacy/designate-devstack-agent-base/run.yaml
  ...

designate-grenade-pdns4:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/designate
  - openstack/designate-dashboard
  - openstack/designate-tempest-plugin
  - openstack/python-designateclient
  run: playbooks/legacy/grenade-devstack-designate-pdns4/run.yaml
  ...

designate-devstack-agent-djbdns:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: djbdns

designate-devstack-agent-gdnsd:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: gdnsd

designate-devstack-agent-knot2:
  parent: designate-devstack-agent-base
  vars:
    backend_driver: knot2

designate-devstack-pdns4:
  parent: designate-devstack-base
  vars:
    backend: pdns4

designate-devstack-pdns4-postgres:
  parent: designate-devstack-base
  vars:
    backend: pdns4
    database: postgres

Fixed broken kolla install link
  doc/source/install/index.rst
Due: none

Fixed error in install guide
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

Blacklist eventlet 0.21.0,0.23.0,0.25.0
  requirements.txt
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Updated install guide
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

Standardizing install guides
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

Fix bug in recordset status
  designate/objects/recordset.py
  designate/tests/unit/objects/test_recordset.py
  releasenotes/notes/fix-recordset-status-204e2747ef47d5ad.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Only log unexpected rndc errors
  designate/backend/impl_bind9.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Only log zone not found when notifing
  designate/mdns/notify.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Adjusted default heartbeat interval and renamed file
  designate/conf/__init__.py
  designate/conf/heartbeat_emitter.py
  designate/tests/unit/test_service_status.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Add pdf-docs env to tox.ini
  doc/ext/support_matrix.py
  doc/source/admin/samples/config.rst
  doc/source/conf.py
  doc/source/contributor/gmr.rst
  tox.ini
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Make IPv6 jobs voting
  .zuul.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Build man pages for the commands that are documented
  doc/source/conf.py
Due: none

Add missing RabbitMQ configuration to install guides
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

fix get the name servers for a zone not validate zone_id
  designate/api/v2/controllers/zones/nameservers.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Refactored service layer
  designate/__init__.py
  designate/agent/service.py
  designate/api/service.py
  designate/central/service.py
  designate/cmd/agent.py
  designate/cmd/api.py
  designate/cmd/central.py
  designate/cmd/mdns.py
  designate/cmd/pool_manager.py
  designate/cmd/producer.py
  designate/cmd/sink.py
  designate/cmd/worker.py
  designate/cmd/zone_manager.py
  designate/conf/agent.py
  designate/conf/api.py
  designate/conf/mdns.py
  designate/coordination.py
  designate/mdns/service.py
  designate/pool_manager/service.py
  designate/producer/service.py
  designate/service.py
  designate/service_status.py
  designate/sink/service.py
  designate/tests/test_api/test_service.py
  designate/tests/test_coordination.py
  designate/tests/test_mdns/test_service.py
  designate/tests/unit/agent/backends/test_bind9.py
  designate/tests/unit/agent/backends/test_denominator.py
  designate/tests/unit/agent/backends/test_fake.py
  designate/tests/unit/agent/test_service.py
  designate/tests/unit/mdns/test_service.py
  designate/tests/unit/pool_manager/test_service.py
  designate/tests/unit/producer/test_service.py
  designate/tests/unit/sink/test_service.py
  designate/tests/unit/test_heartbeat.py
  designate/tests/unit/workers/test_service.py
  designate/worker/service.py
  etc/designate/designate-config-generator.conf
  releasenotes/notes/new-service-layer-8023c242de89075a.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Set enable_host_header in documentation
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
Due: none

fix call obj_reset_changes with recursive=True raise error
  designate/objects/base.py
  designate/tests/unit/objects/test_base.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Experimental wsgi support
  designate/api/wsgi.py
  releasenotes/notes/experimental-wsgi-support-8370a8d9b298d5ca.yaml
  setup.cfg
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update .gitreview for stable/train
  .gitreview
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

Update devstack to use workers
  devstack/plugin.sh
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Reduce log spam from coordinator
  designate/conf/coordination.py
  designate/coordination.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Drop use of DESIGNATE_AUTH_CACHE_DIR
  devstack/plugin.sh
  devstack/settings
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Updated Readme
  README.rst
Due: none

fix ListObjectMixin._obj_from_primitive bug
  designate/objects/base.py
  designate/tests/unit/objects/test_base.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

fix Secondary zone can not xfr
  designate/mdns/xfr.py
  designate/tests/unit/mdns/test_xfr.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

designate-manage pool update --dry-run not should pass argument
  designate/cmd/manage.py
  designate/manage/pool.py
  doc/source/admin/multiple-pools.rst
  doc/source/admin/pools.rst
  doc/source/cli/designate-manage.rst
  releasenotes/notes/update-designate-manage-command-af0aec02ab582d50.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Don't install v1 dashboard panel
  devstack/plugin.sh
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Enable graceful shutdown of mdns
  designate/agent/service.py
  designate/mdns/service.py
  designate/service.py
  designate/tests/unit/test_utils.py
  designate/utils.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Switch to apache for designate-api
  devstack/files/apache-designate-api.template
  devstack/plugin.sh
  devstack/settings
  lower-constraints.txt
  test-requirements.txt
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Remove wsgi eventlet monkey patch
  designate/api/wsgi.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Switch to Ussuri jobs
  .zuul.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Fix api version not providing the full url
  designate/api/versions.py
  designate/conf/api.py
  releasenotes/notes/deprecated--api-base-uri-d759b65d8b0e67a1.yaml
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Renamed enable_host_header by default reno
  releasenotes/notes/enable-host-header-d759b65d8b0e67a1.yaml
Due: designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Make designate reproducible
  designate/conf/akamai.py
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Set default branches to stable/train
  devstack/settings
Due: designate-base, designate-bind9, designate-bind9-manager-model, designate-bind9-py36, designate-devstack-base, designate-devstack-agent-base, designate-grenade-pdns4, designate-devstack-agent-djbdns, designate-devstack-agent-gdnsd, designate-devstack-agent-knot2, designate-devstack-pdns4, designate-devstack-pdns4-postgres

Path conditions:
  designate-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9-manager-model: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-bind9-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  designate-devstack-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-grenade-pdns4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-djbdns: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-gdnsd: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-agent-knot2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-pdns4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
  designate-devstack-pdns4-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$
